# Node build artifacts
node_modules
npm-debug.log
dev

# Local development
*.env
*.dev
.DS_Store
react-ui/src/scratch.js
react-ui/src/archive/
server/defaultRestaurants.json

# Docker
Dockerfile
docker-compose.yml

dev
